
// Define mixins for breakpoints
@mixin for-mobile-only { 
    @media (max-width: 425px) { 
      @content; 
    } 
  }
  
  @mixin for-tablet-only { 
    @media (max-width: 768px) { 
      @content; 
    } 
  }
  
  @mixin for-desktop-medium { 
    @media (min-width: 769px) { 
      @content; 
    } 
  }
  @mixin for-desktop { 
    @media (min-width: 1024px) { 
      @content; 
    } 
  }

  @mixin for-desktop-large { 
    @media (min-width: 1440px) { 
      @content; 
    } 
  }