:root {
  --primary-clr: #000000;
  --primary-dark: #1A1A1A;
  --secondary-clr: #FFFFFF;
  --secondary-light: #F4F4F4;
  --accent-gold: #D4AF37;
  --accent-sandal: #E6C99A;
  --primary-clr-rgb: 0, 0, 0;
  --primary-dark-rgb: 26, 26, 26;
  --secondary-clr-rgb: 255, 255, 255;
  --secondary-light-rgb: 244, 244, 244;
  --accent-gold-rgb: 212, 175, 55;
  --accent-sandal-rgb: 230, 201, 154;

  --logo-transition: 0.4s;
  /* --font-normal: Arial, Helvetica, sans-serif; */
  
}